html {
  box-sizing: border-box;
  line-height: 1.5;
  padding: 0;
  margin: 0;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  font-family: Helvetica, Arial, sans-serif;
  font-size: 20px;
  text-align: center;
  background-color: #f4eeaf;
  color: rgb(25, 25, 25);
}

h1 {
  margin-top: 50px;
}

img {
  border-radius: 15%;
  width: 300px;
  height: auto;
  padding: 8px;
  background-color: gray;
  margin-bottom: 50px;
}

ul {
  padding: 10px;
}

ol {
  padding: 10px;
}

li {
  display: inline-block;
  margin: 8px;
  padding: 8px 16px;
  background-color: gray;
  border-radius: 16px;
  color: #f4eeaf;
}

div {
  border: 4px dashed rgb(255, 0, 0, 0.5);
  width: fit-content;
  margin: 20px auto;
}

span {
  display: inline-block;
  background-color: gray;
  padding: 8px;
  border-radius: 16px;
}

a {
  color: #f4eeaf;
}

.desc {
  width: 50%;
  border: none;
}

.ingredients {
  width: 50%;
}

.steps {
  width: 50%;
}
